h1{
    margin: 20px;
    padding: 20px;
    border-color: white;
    text-decoration: aliceblue;
    color: white;
    animation: heart 0.6s linear infinite;
    transform: rotate(-45deg);
    display: flex;
    transform: rotate(-45deg) scale(1.07);
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    background: #262626;
}
.heart {
    width: 100px;
    height: 100px;
    background: red;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 120px red;
    animation: heart 0.6s linear infinite;
}
@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    100% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
    
}
.heart::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    top: -50%;
    border-radius: 60px;
    box-shadow: -10px 10px 120px red;
}
.heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    right: -50%;
    border-radius: 60px;
    box-shadow: -10px 10px 120px red;
}



